/*
Max Clingroth
1/24/23 
*/

/* Colors:
#5C2751 - maroon
#6457A6 - dark purple
#9DACFF - light purple
#1C3D5F - indigo blue
#88A5AA - pewter blue */

/* Global Styles
------------------------------- */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    color: black;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    line-height: 1.4;
}

img {
    width: 250px;
}

a {
    color: #FFBB7B;
}

a:hover {
    text-decoration: none;
}

h1 {
    font-size: 60px;
    text-shadow: 4px 3px 6px;
}

h2 {
    font-size: 30px;
}

h1, h2 {
    font-family: 'Kalam', cursive;
    font-weight: 400;
    margin: 0;
    line-height: 1.2;
}

.content-wrap {
    width: 75%;
    margin: 0 auto;
    padding: 60px;
}

/* Navigation
------------------------------ */
#nav-menu {
    display: none;
    border: 1px solid black;
    border-radius: 6px;
    background-color: #9DACFF;
    padding-left: 0;
    width: 150px;
    position: relative;
    right: 100px;
}

.dropdown {
    display: none;
    border: 1px solid black;
    border-radius: 6px;
    background-color: #9DACFF;
    padding-left: 0;
    position: absolute;
    right: 149px;
    top: 0;
    width: 100px;
}

nav {
    float: right;
    text-align: center;
    width: 10%;
    margin: 70px 5% 0 0;
}

nav ul {
    list-style: none;
}

#nav-menu li {
    background-color: #9DACFF;
    border-bottom: 1px solid black;
    position: relative;
}

nav a {
    text-decoration: none;
    color: black;
}

#nav-label:hover ul {
    display: inline-block;
}

#nav-label:hover .dropdown {
    display: none;
}

#nav-menu li:hover .dropdown {
    display: inline-block;
}

#nav-menu li:hover {
    color: #1C3D5F;
}

#nav-menu li a:hover {
    color: #1C3D5F;
}

/* Profile
------------------------------- */
header {
    background: #88A5AA;
}

header h1 {
    float: left;
    width: 90%;
}

header h2 {
    clear: left;
}

/* Projects
------------------------------- */
.projects {
    background: #6457A6;
    color: #FFF5F8;
}

h3 {
    margin-top: 0;
}

.projects .btn {
    color: #FFF5F8;
    background: #5C2751;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    display: inline-block;
}

.projects .btn:hover {
    background: rgba(92, 39, 81, 80%);
}

.project-item {
    overflow: hidden;
    border-bottom: 1px dashed black;
    padding: 20px 0;
}

.project-item img {
    float: left;
    margin-right: 20px;
}


/* Work Experience
------------------------------- */
.work-experience {
    background: #9DACFF;
}

/* Education
------------------------------- */
.education {
    background: #5C2751;
    color: #FFF5F8;
}

/* Contact info
------------------------------- */
footer {
    background: #1C3D5F;
    color: #FFF5F8;
}